<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>pylint</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Pylint badge</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Abouts</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Status</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center" style="color: rgb(69,110,152);"><span style="text-decoration: underline;">Hello </span><em><span style="text-decoration: underline;">username</span></em></h1>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-left" style="color: rgb(110,29,190);"><em>repository name</em></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h3 class="text-left" style="color: rgb(201,15,15);"><em>Error:</em></h3>
                </div>
                <div class="col-10">
                    <p>Paragraph</p>
                    <p>Paragraph</p>
                    <p>Paragraph</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3 class="text-left" style="color: rgb(201,15,15);">Warning<em>:</em></h3>
                </div>
                <div class="col-9">
                    <p>Paragraph</p>
                    <p>Paragraph</p>
                    <p>Paragraph</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3 class="text-left" style="color: rgb(201,15,15);">Refactor<em>:</em></h3>
                </div>
                <div class="col-9">
                    <p>Paragraph</p>
                    <p>Paragraph</p>
                    <p>Paragraph</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3 class="text-left" style="color: rgb(201,15,15);">Convention<em>:</em></h3>
                </div>
                <div class="col-9">
                    <p>Paragraph</p>
                    <p>Paragraph</p>
                    <p>Paragraph</p>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>