[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
pyjwt = "*"
djangorestframework = "*"
django-rest-auth = "*"
router = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
social-auth-app-django = "*"
pylint-json2html = "*"

[requires]
python_version = "3.5"
